.books-container{
    height: 100%;
    width: 100%;
    top: 164px;
    z-index: 10;
    position: fixed;
    background-image: linear-gradient(90deg, #D9DAEB, #EBE5E3);
    padding-left: 14px;
    padding-right: 14px;
    box-sizing: border-box;
}